*
!.gitignore
!.config
!.config/**
.config/awesome/.git
.config/awesome/.gitignore
.config/awesome/.gitmodules
.config/awesome/.github
.config/awesome/awesome-wm-widgets
.config/awesome/freedesktop
.config/awesome/lain
.config/awesome/themes
.config/awesome/ISSUE_TEMPLATE.md
.config/awesome/m_rc.lua
.config/awesome/README.rst
#!.config/awesome
#!.config/awesome/
#!.config/awesome/rc.lua
.config/GIMP
.config/nvim/pack
.config/nvim/plugged
.config/nvim/undodir
.config/google-chrome/**
.config/goa-1.0
.config/gtk-3.0
.config/ibus
.config/light
.config/pulse
.config/coc/**
.config/evolution
!.zshrc
!.bashrc
!README.md
