*
!README.md
!.gitignore
!.zshrc
!.bashrc
!.config
!software_dev_setup
.config/*
!.config/update_nvim.sh
!.config/nvim/
.config/nvim/*
!.config/nvim/init.lua
!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf
!.config/this
#awesome files ignore
!.config/awesome/**
##!.config/awesome/
##!.config/awesome/rc.lua
##.config/awesome/.git
##.config/awesome/.gitignore
##.config/awesome/.gitmodules
##.config/awesome/.github
##.config/awesome/awesome-wm-widgets
##.config/awesome/freedesktop
##.config/awesome/lain
##.config/awesome/themes
##.config/awesome/ISSUE_TEMPLATE.md
##.config/awesome/m_rc.lua
##.config/awesome/README.rst
#.config/GIMP
#.config/nvim/pack
#.config/nvim/undodir
#.config/google-chrome
#.config/goa-1.0
#.config/gtk-3.0
#.config/ibus
#.config/light
#.config/pulse
#.config/coc/**
#.config/evolution
#.config/libreoffice
